<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Портфоліо</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% extends 'base.html' %}

    {% block title %}Портфоліо{% endblock %}

    {% block content %}
    <section class="main-content">
        <h2>Привіт</h2>
        <p>Це головна сторінка нашого сайту, тут ви можете переглянути всю інформацію про мене</p>
    </section>
    {% endblock %}
</body>

</html>