<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vintoniak Vasyl{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <div>
            <h2>**** Олег</h2>
            <p>Web Developer</p>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Головна</a></li>
                <li><a href="{{ url_for('portfolio') }}">Про мене</a></li>
                <li><a href="{{ url_for('skills') }}">Навички</a></li>
                <li><a href="{{ url_for('resume') }}">Резюме</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        &copy; 2023 My Portfolio
        <p>OS: {{ os_info }}</p>
        <p>User Agent: {{ user_agent }}</p>
        <p>Current Time: {{ current_time }}</p>
    </footer>
</body>

</html>